.headerOption {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s all ease;
}

.headerOption:hover {
  opacity: 0.9;
}

.headerOption__title {
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}

.headerOption__icon {
  object-fit: contain;
  /* height: 25px !important; */
}
